*{

    box-sizing: border-box;
}

.nav{
    border-bottom: solid;
    border-bottom-color: transparent;
    margin-bottom: 25px;
}

.intro{
    display: flex;
}

.p-home{
    color: black;
    letter-spacing: 2px;
    line-height: 35px;
    font-weight: 700px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 50px;
}

.service1{
    padding: 2rem;
    border-radius: 3px;
    background: grey;
    margin-right: 2rem;
}

.service2{
    padding: 2rem;
    border-radius: 3px;
    background: grey;
    margin-right: 2rem;
}

.service3{
    padding: 2rem;
    border-radius: 3px;
    background: grey;
    margin-right: 2rem;
}

.del{
    color: white;
    border-radius: 5px;
    border: 2rem 2rem 2rem 2rem;
    background-color: rgb(42, 126, 42);
    margin-left: 2rem;
    margin-top: 5px;
}

.rev{
    display: row;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

.body{
    border-radius: 4px;
    background-color: grey;
    background-size: cover;
    padding-top: 2px;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 10px;
}

.review-form{
    margin-bottom: 3rem;
}

.input{
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 3rem;
    margin-top: 20px;
}

.submit{
    color: white;
    margin-left: 20px;
    background:  rgb(42, 126, 42);
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cust-rev{
    background-color: rgb(220, 222, 228);
    padding-bottom: 2rem;
}

.cust-rev h3{
    color: green;
    font-size: 25px;
    margin-left: 40px;
    padding-top: 1rem;
}

.footer{
    margin-top: 7rem;
    margin-bottom: 2rem;
    border-top-color: green;
    border-bottom-color: transparent;
    background: rgb(180, 141, 216);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}