.nav{
    border-bottom: solid;
    border-bottom-color:crimson;
    margin-bottom: 3rem;
}

.intro{
    display: flex;
}

.bg-page{
    background-color: ;
}

.p-home{
    color: black;
    letter-spacing: 2px;
    line-height:35px;
    font-weight: 700px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 50px;
}

.del{
    border-radius: 5px;
    border: 2rem 2rem 2rem 2rem;
    background-color: lightblue;
}